.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 0px 0px;
  grid-template-areas: "header-left header-center header-right" ". product-details-1 ." ". product-details-2 .";
}

.product-details-2 { 
	grid-area: product-details-2;
}

.product-details-1 { grid-area: product-details-1; }

.header { 
	grid-area: header-center;
	background-color: #cce0ff;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}